<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--config for mysql-->
  <connectionStrings>
    <remove name="MySqlConnection" />
    <add name="MySqlConnection" connectionString="Data Source=localhost;port=3306;Initial Catalog=jldb;user id=chenye;password=123!@#;charset=gbk;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  
  <system.data>
    <DbProviderFactories>
      
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>