
@model JL.Core.Models.Product

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            @foreach (var cate in ViewBag.Categories.Data)
            {
                JL.Core.Models.ProductCategory pc = cate;

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="text-category">@pc.Name</h4>
                    </div>

                    <!-- List group -->
                    <div class="list-group">
                        @foreach (var p in pc.Products)
                        {
                            <a href="@Url.Action("detail","product",new { id = p.AutoId })" class="list-group-item">
                                @p.Name
                            </a>
                        }
                    </div>
                </div>
            }
        </div>
        <div class="col-lg-8">
            @Html.Raw(Model.Description)
        </div>
    </div>

</div>
