
@{
    ViewBag.Title = "Categories";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">类别</h1>

        <div class="form-group">
            <div class="btn-toolbar" role="toolbar" aria-label="">
                <div class="btn-group" role="group" aria-label="">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalNewCategory">新类别</button>
                </div>                
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                面膜系列<a href="#" data-toggle="modal" data-target="#modalRemove"><i class="pull-right fa fa-trash-o m-r-5" title="删除"></i></a>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        Cras justo odio
                    </a>
                    <a href="#" class="list-group-item"><span class="badge">14</span>Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item">Morbi leo risus</a>
                    <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item">Vestibulum at eros</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                面膜系列<a href="#" data-toggle="modal" data-target="#myModal02"><i class="pull-right fa fa-trash-o m-r-5" title="删除"></i></a>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        Cras justo odio
                    </a>
                    <a href="#" class="list-group-item"><span class="badge">14</span>Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item">Morbi leo risus</a>
                    <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item">Vestibulum at eros</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                面膜系列<a href="#" data-toggle="modal" data-target="#myModal02"><i class="pull-right fa fa-trash-o m-r-5" title="删除"></i></a>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        Cras justo odio
                    </a>
                    <a href="#" class="list-group-item"><span class="badge">14</span>Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item">Morbi leo risus</a>
                    <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item">Vestibulum at eros</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                面膜系列<a href="#" data-toggle="modal" data-target="#myModal02"><i class="pull-right fa fa-trash-o m-r-5" title="删除"></i></a>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        Cras justo odio
                    </a>
                    <a href="#" class="list-group-item"><span class="badge">14</span>Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item">Morbi leo risus</a>
                    <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item">Vestibulum at eros</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalRemove" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("DeleteSales", "Sales", FormMethod.Post))
            {
                <input type="hidden" value="" name="UserId" />
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">确定</h4>
                </div>
                <div class="modal-body">
                    <h4 class="not-hide-menu text-center">您确定要删除该员工账号吗？</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success">确定</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>

                </div>
            }
        </div>
    </div>
</div>

<div class="modal" id="modalNewCategory" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <form id="newCategoryForm" action="@Url.Action("new","category")">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">新类别</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="categoryname" class="control-label">名称:</label>
                            <input type="text" class="form-control" id="categoryname" name="categoryname" />
                        </div>
                        <div class="form-group">
                            <label for="categoryalias" class="control-label">别名:</label>
                            <input type="text" class="form-control" id="categoryalias" name="categoryalias" />
                        </div>
                        <div class="form-group">
                            <label for="categorysort" class="control-label">排序:</label>
                            <input type="text" class="form-control" id="categorysort" name="categorysort" />
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">保存</button>
                    </div>
                </div>
            </form>
        </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    @*@Scripts.Render("~/scripts/jquery.validate.js")*@
    <script type="text/javascript">
        $(document).ready(function(){
            $('#newCategoryForm').validate({
                rules:{
                    categoryname:"required",
                    categorysort:"number"
                },
                messages: {
                    categoryname:"请输入分类名称",
                    categorysort:"只能输入数字"
                },
                errorElement: "em",
				errorPlacement: function ( error, element ) {
					// Add the `help-block` class to the error element
					error.addClass( "help-block" );

					if ( element.prop( "type" ) === "checkbox" ) {
						error.insertAfter( element.parent( "label" ) );
					} else {
						error.insertAfter( element );
					}
				},
				highlight: function ( element, errorClass, validClass ) {
					$( element ).parents( ".col-sm-5" ).addClass( "has-error" ).removeClass( "has-success" );
				},
				unhighlight: function (element, errorClass, validClass) {
					$( element ).parents( ".col-sm-5" ).addClass( "has-success" ).removeClass( "has-error" );
				}

            });
        });
    </script>
}