@model JL.Web.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
}

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">文章列表</h3>
        </div>
    </div>

    @using (Html.BeginForm("Reg", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="UserName" class="col-md-2 control-label">用户名</label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        <p class="note">请输入您注册的用户名。</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Password" class="col-md-2 control-label">旧密码</label>
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                        <p class="note">请输入原密码。</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Password" class="col-md-2 control-label">新密码</label>
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        <p class="note">请输入新密码，不得少于6个字符长度。</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Password" class="col-md-2 control-label">新密码</label>
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.NewPasswordConfirm, new { @class = "form-control" })
                        <p class="note">请再次输入新密码。</p>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="确认" />

                    </div>
                </div>
            </div>

        </div>
    }
</div>



