/*header*/
.qrcodes img{
    height:80px;
}
.nav-line {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}

.nav > li {
    height: inherit;
    /*display: inline-block;*/
    position: relative;
    padding: 0 !important;
    vertical-align: top;
}

    .nav > li > a:after {
        content: "";
        height: 2px;
        width: 100%;
        background-color: #42BCDB;/*#2BA1F3*/
        display: block;
        opacity: 0;
        transition: all 0.3s;
    }
.nav > li.active >a:after{opacity: 1;}
.nav > li:hover a:after{opacity: 1;}
.nav > li >a span{padding:8px 15px; line-height: 50px;}
.nav > li >a{ padding:0; }
.nav > li > a {color: rgb(1, 1, 1);font-size: 14px;    }

.icon-modal {
    display: inline-block;
    vertical-align: top;
    background-image: url(/images/login-icons.png);
    background-size: 200px 200px;
    background-repeat: no-repeat;
}
.icon-login-qq {
    background-position: 4px -39px;
}
.icon-login-wx {
    background-position: -2px -97px;
}
.icon-login-wb {
    background-position: -2px -147px;
}
.icon-login-zfb {
    background-position: -67px -40px;
}
.third-box {
    margin:20px 0px;
}
.third-box i {
    width: 46px;
    height: 38px;
}
.third-box a {
    margin-right:40px;
}

.footer {
    border-top: 1px solid #d9d9d9;
}

.col-no-padding div.col-sm-3, .col-no-padding div.col-md-3 {
    padding-left: 0px;
    padding-right: 0px;
}

/**/
.margin-b-15{
    margin-bottom:15px;
}

/*text*/
.text-category {
    color: #42BCDB
}