<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>    
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>
  <unity>
    <containers>
      <container>        
        <register type="JL.Core.Repositories.IUserRepository,jl.core" mapTo="JL.Infrastructure.DapperRepository.UserRepository,jl.infrastructure" />
        <register type="JL.Core.Repositories.IArticleRepository,jl.core" mapTo="JL.Infrastructure.DapperRepository.ArticleRepository,jl.infrastructure" />
        <register type="JL.Core.Repositories.IProductRepository,jl.core" mapTo="JL.Infrastructure.DapperRepository.ProductRepository,jl.infrastructure" />
        <register type="JL.Core.Repositories.IMemberRepository,jl.core" mapTo="JL.Infrastructure.DapperRepository.MemberRepository,jl.infrastructure" />
        <register type="JL.Core.Repositories.IMaterialRepository,jl.core" mapTo="JL.Infrastructure.DapperRepository.MaterialRepository,jl.infrastructure" />
        <register type="JL.Core.Repositories.IFranchiseeRepository,jl.core" mapTo="JL.Infrastructure.DapperRepository.FranchiseeRepository,jl.infrastructure" />
        <register type="JL.Core.IJLService,jl.core" mapTo="JL.Core.Providers.JLService,jl.core" />
      </container>      
    </containers>
  </unity>
  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
    <add key="enableSimpleMembership" value="true" />
    <add key="userTableName" value="jl_user" />
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->  
    <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off">
      <error redirect="~/Error/NotFound" statusCode="404" />
      <error redirect="~/Error/NotRoute" statusCode="403" />
    </customErrors>
    <!--config for mysql  -->
    <membership defaultProvider="MySqlSimpleMembershipProvider">
      <providers>
        <remove name="MySqlSimpleMembershipProvider" />
        <add name="MySqlSimpleMembershipProvider" type="MySql.Web.Security.MySqlSimpleMembershipProvider, MySql.Web" connectionStringName="MySqlConnection" userTableName="jl_user" userIdColumn="userid" userNameColumn="username" />
      </providers>
    </membership>
      
    <roleManager defaultProvider="MySqlSimpleRoleProvider" enabled="true">
      <providers>
        <remove name="MySqlSimpleRoleProvider" />
        <add name="MySqlSimpleRoleProvider" type="MySql.Web.Security.MySqlSimpleRoleProvider, MySql.Web" connectionStringName="MySqlConnection" userTableName="jl_user" userIdColumn="userid" userNameColumn="username" />
      </providers>
    </roleManager>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" defaultUrl="~/" />
    </authentication>
          
  </system.web>

  <!--config for mysql  -->
  
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    
        <dependentAssembly>
    
            <assemblyIdentity name="WebMatrix.WebData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
    
            <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
    
        </dependentAssembly>
    
        <dependentAssembly>
    
            <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
    
            <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
    
        </dependentAssembly>
    
        <dependentAssembly>
    
            <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
    
            <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
    
        </dependentAssembly>
    
        <dependentAssembly>
    
            <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
    
            <bindingRedirect oldVersion="0.0.0.0-2.0.2.67" newVersion="2.0.2.67" />
    
        </dependentAssembly>
        <dependentAssembly>
            <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
            <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
        </dependentAssembly>
        <dependentAssembly>
            <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
            <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
        </dependentAssembly>
        <dependentAssembly>
            <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
            <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
        </dependentAssembly>
    
    </assemblyBinding>
  </runtime>

  <!--config for mysql-->
  <connectionStrings>
    <remove name="MySqlConnection" />
    <add name="MySqlConnection" connectionString="Data Source=localhost;port=3306;Initial Catalog=jldb;user id=chenye;password=123!@#;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"></remove>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
    </DbProviderFactories>
  </system.data>
</configuration>